html, body {
    /* background-color: rgb(245, 243, 241) !important; */
    width: 100%;   
}

#header {
    background-color: #55535e;
    color: white
    
}

#bodyWrapper {
    /* margin-left: 1em;
    margin-right: 1em; */
    padding-top: 2em;
}